{% extends 'base/base.html' %}

{% block title %} {{page_title}} | Django Firma Demo {% endblock title %}

{% block container-fluid %}
<!-- Hero content -->
<div class="container-fluid mt-3 mb-3">
        <div class="row">
            <div class="col-sm-12 px-0">
                <img src="https://picsum.photos/id/50/1200/300" alt="" class="w-100">
            </div>
        </div>
        
        {% include 'page/components/hero_component.html' with hero_title=page_title %}   

                
            </div>
            <!-- About Us END -->
            {% endblock container-fluid %}

            {% block container %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2">
                <h2>Vizyonumuz</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolorem quod totam. Laboriosam
                    temporibus enim obcaecati minus quod modi cumque quia, dolores, soluta, hic aut ipsam voluptas non
                    repellat dicta.</p>
                    <p>Ad fuga numquam, voluptatum eaque rerum ut inventore, quod quia mollitia odit reiciendis perferendis
                        eius cum sapiente corporis eligendi autem sequi distinctio facere ab harum. Ad ullam quasi
                        temporibus ratione!</p>
                        <p>Et blanditiis quisquam beatae esse, aliquid dolorem eaque quaerat ab est nam quod itaque, soluta rem
                            commodi molestiae. Mollitia ducimus sunt cupiditate eius quia modi eveniet placeat laborum quidem
                            quasi?</p>
                            <hr>
                            <h2>Misyonumuz</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolorem quod totam. Laboriosam
                                temporibus enim obcaecati minus quod modi cumque quia, dolores, soluta, hic aut ipsam voluptas non
                                repellat dicta.</p>
                                <p>Ad fuga numquam, voluptatum eaque rerum ut inventore, quod quia mollitia odit reiciendis perferendis
                                    eius cum sapiente corporis eligendi autem sequi distinctio facere ab harum. Ad ullam quasi
                                    temporibus ratione!</p>
                                    <p>Et blanditiis quisquam beatae esse, aliquid dolorem eaque quaerat ab est nam quod itaque, soluta rem
                                        commodi molestiae. Mollitia ducimus sunt cupiditate eius quia modi eveniet placeat laborum quidem
                    quasi?</p>
                    <ul>
                        <li>Lorem, ipsum.</li>
                    <li>Deserunt, officiis!</li>
                    <li>Ex, suscipit.</li>
                    <li>Quos, eaque!</li>
                </ul>
            </div>
        </div>
        
        
    </div>
    
    {% endblock container %}