 <!-- Projects -->
 <div class="row my-3">
    <div class="col-sm-12">
        <h2>Projeler</h2>
    </div>
    <hr>
    <div class="col-sm col-6 mb-2"><img src="https://picsum.photos/id/401/100/80" alt=""
            class="w-100 img-thumbnail">
    </div>
    <div class="col-sm col-6 mb-2"><img src="https://picsum.photos/id/402/100/80" alt=""
            class="w-100 img-thumbnail">
    </div>
    <div class="col-sm col-6 mb-2"><img src="https://picsum.photos/id/403/100/80" alt=""
            class="w-100 img-thumbnail">
    </div>
    <div class="col-sm col-6 mb-2"><img src="https://picsum.photos/id/404/100/80" alt=""
            class="w-100 img-thumbnail">
    </div>
    <div class="col-sm col-6 mb-2"><img src="https://picsum.photos/id/405/100/80" alt=""
            class="w-100 img-thumbnail">
    </div>
    <div class="col-sm col-6 mb-2"><img src="https://picsum.photos/id/406/100/80" alt=""
            class="w-100 img-thumbnail">
    </div>
    <div class="col-sm col-6 mb-2"><img src="https://picsum.photos/id/407/100/80" alt=""
            class="w-100 img-thumbnail">
    </div>
    <div class="col-sm col-6 mb-2"><img src="https://picsum.photos/id/408/100/80" alt=""
            class="w-100 img-thumbnail">
    </div>
</div>
<!-- Projects END -->