
{% extends 'core/base.html' %}

{% block title %} {{page_title}} | Django Firma Demo {% endblock title %}

<hr>
<hr>
{% block container-fluid %}

<!-- Carousel -->
{% comment %} carousel component olarak adüsagiya eklenecek {% endcomment %}

{% include 'page/components/carousel_component.html' with CAROUSEL=FAKE_DB_CAROUSEL %}
<!-- Carousel END -->

<!-- Hero content -->
{% include 'page/components/hero_component.html' with hero_title=page_title %}   

<!-- Hero content END -->
            
            <!-- About Us -->
            <div class="row ">
                <div class="col-sm-6 p-0 border border-3 border-dark">
                    <img class="w-100" src="https://picsum.photos/id/342/900/400" alt="">
                </div>
                <div class="col-sm-6 border border-3 border-danger d-flex  justify-content-center align-items-center">
                    <div class="text-center">
                        <h2>Hakkimizda</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <p>Facere voluptatum non aperiam provident nulla officia.</p>
                        <p>Debitis delectus ullam autem eveniet impedit voluptatibus!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Us END -->
        {% endblock container-fluid %}
        
        {% block container %}

    <div class="container">
        <!-- Products -->
        <div class="row mb-3">
            <div class="col-sm-12">
                <h2>Urunlerimiz</h2>
                <hr>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="https://picsum.photos/id/350/900/400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Urun1</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="urunler/1/" class="btn btn-primary">Incele</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="https://picsum.photos/id/351/900/400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Urun2</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="urunler/2/" class="btn btn-primary">Incele</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="https://picsum.photos/id/352/900/400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Urun3</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="urunler/3/" class="btn btn-primary">Incele</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Products END -->



    </div>

    {% endblock container %}
