{% load static %}
<!doctype html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %}{% endblock title %} Django Firma Demo </title>
    <link href="{% static 'css/5.2.3_dist_css_bootstrap.min.css'%} " rel="stylesheet" crossorigin="anonymous">
</head>

<body>

    {% comment %} base.html de NAV ve FOOTER var sablon olarak {% endcomment %}
    {% comment %} {% include 'navbar.html' %} {% endcomment %}
    {% include 'core/navbar.html' %}

    {% block container-fluid %}    
    {% endblock container-fluid %}

    <div class="container">
    {% block container %}
    {% endblock container %}
 {% comment %} diger sayfalardaki farkli icerik buradan eklenecek. {% endcomment %}
        {% comment %} {% include 'base/projects.html' %} {% endcomment %}
        {% include 'core/projects.html' %}
       
 </div>
    {% comment %} {% include 'footer.html' %} {% endcomment %}
    {% include 'core/footer.html' %}

    <script src="{% static 'js/5.2.3_dist_js_bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
</body>

</html>